.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  max-width: 500px;
  font-weight: bold;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
 
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media screen and (max-width :768px) {
  .img {
    text-align: center;
    margin-left: 1rem;
    width: 200px !important;
    margin-top: 2rem;
  }
  .cv {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 0 ;
   margin-top: 8rem;
  }
  // header {
  //   display: none !important;
  // }
  // .header__logo {
  //   display: none !important;
  // }
  .menu {
    display: block;
  }
  .header2 { display: none;}
 

}